.main-content {
    width: 80%;
    margin: auto;
    background-color: white;
    height: 100vh;
    text-align: center;
}

.content-header {
    margin-top: 40px;
}

body {
    font-family: 'Open Sans', sans-serif;    
    margin:0;
    padding:0;
}

.special-table {
    margin: 0 auto;
}

.auth-tile {
    margin-top: 6%;
}

.tag_list {
    text-align: left;
    display: inline;
}

.tag_list p {
    display: inline;
}